body{
  background-image: url('./Images/backbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(167, 64, 4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#game_interface {
  margin-block: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 148px 148px 148px; /* Equal columns */
  grid-template-rows: 116px 116px 116px;    /* Equal rows */
background-image: url('./Images/background.png');
border: 3px solid white;
}


.grid-item img {
  width: 148px;
  height: 116; 
  transition: opacity 0.5s ease-in-out;
}


button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #fff; /* White text color */
  background-color: #8B4513; 
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  background-color: #6f4f28; 
}

button:active {
  background-color: #4b3621; 
}
